<!doctype html>
<title>Outcome of Recommendations</title>
<div class=page method="post">
  <h1>We recommend these games:</h1>
    <h2>Top: <a target="_blank">{{first}}</a></h2>
    <h2>2nd: <a target="_blank">{{second}}</a></h2>
    <h2>3rd: <a target="_blank">{{third}}</a></h2>
    <h2>4th: <a target="_blank">{{fourth}}</a></h2>
    <h2>5th: <a target="_blank">{{fifth}}</a></h2>
    <h2>6th: <a target="_blank">{{sixth}}</a></h2>
    <h2>7th: <a target="_blank">{{seventh}}</a></h2>
    <h2>8th: <a target="_blank">{{eighth}}</a></h2>
    <h2>9th: <a target="_blank">{{ninth}}</a></h2>
    <h2>10th: <a target="_blank">{{tenth}}</a></h2>
</div>